<app-navbar></app-navbar>
<div class="container" style="margin-top: 25px; margin-bottom: 25px;">
    <h3 style="color: rgb(78, 7, 78);">Message from Director, Alumni Affairs</h3>
    <hr class="text-warning"  style="width: 40%; height: 3px;">
    <p>
        Dear REC Alumni,
        <br>
        Heartiest greetings from Rajalakshmi Engineering College. I can feel the inherent bonding which we all have towards our own institute. It gives me immense pleasure to invite you on the campus to interact with the students and the faculty members.
        The Alumni Cell of REC has been functioning at the Institute. The primary aim of the cell is to maintain the relationship between the Institute and its alumni by sharing the development and growth of the institute.
        Towards that end, here are some ways that you can stay engaged with us in varying levels of involvement:
    </p>
    <br>
    <b style="color: rgb(78, 7, 78);">1. Stay connected</b>
    <p>Keep us updated on your whereabouts after you have left REC. Register as a member of the RECAL Alumni Association and regularly check in to let us know where you are. We will send you information on events and programmes on campus and how you can be involved.</p>
    <br>
    <b style="color: rgb(78, 7, 78);">2. Take part</b>
    <p>Do sign up for our events and alumni groups. It has been a tradition that the alumni employed in different organizations in India and abroad help the final year students in their project work and guide them about the latest technology and the employment opportunities in the organizations concerned.</p>
    <br>
    <b style="color: rgb(78, 7, 78);">3. Volunteer</b>
    <p>Step up to help organize an event or contribute your time for a specific cause or project. As part of the workforce, offer to take REC students as interns or even a job if they meet your criteria. This will certainly help our students get real-world experience and find employment, respectively.

        The Management and the faculty members will also be delighted to have you in the department to share your valuable experiences. Do contact us at <span style="color: rgb(78, 7, 78);"><b>alumni@rajalakshmi.edu.in</b></span>  and look forward to meeting you at our events and hope that you will continue to walk the journey with REC for generations to come.
    </p>
    <b>
        With the warmest regards,<br>
        Dr. P. Kumar<br>
        Director, Alumni Affairs
    </b>


</div>